<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P&L</title>
</head>
<body background="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtczcwLWFlLTMxMDJhXzEuanBn.jpg">
    <header>
        <div class = "logo">
            <img src="https://handelshart.be/assets/Uploads/Paris-Londres/993ef734ed/Paris-Londres__ScaleWidthWzYwMF0.jpg" alt="Encontraste un Easter Egg🚀 :)" width="150" height="70">
            
        </div>
        <nav>
            <a href="" class="nav-link">Inicio</a>
            <a href="" class="nav-link">Sobre Nosotros</a>
            <a href="" class="nav-link">Contactos</a>
        </nav>
     </header>

    <p><b>Paris & London🗼</b> es una marca de ropa boutique nacida en Venezuela.</p>
    <p>Con las mejores prendas para tu estilo personal.</p>
    <div >
        <img src="https://scontent.fuio1-2.fna.fbcdn.net/v/t39.30808-6/245931460_112586664542762_5385139079465929798_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHqGmBa9hbYLbeIIonZFkXJKGQvgR-IrZUoZC-BH4itlecO69_o98_qsD-bLYof_VA&_nc_ohc=00fjeHGdSZ4AX9zZLK5&_nc_ht=scontent.fuio1-2.fna&oh=00_AfBGiW4_7dslHiSho5nRN3r-GzR35TPvqa5fdxD3kHIbKQ&oe=63AFFA86" alt="img1" align="left" width="550" height="450">
    <style>
        h3 {display: flex; margin-top: 10px; color:darkred;padding-left: 15px;}
        footer {background-color: black;position:absolute;bottom: 0;width: 99%;height: 40px;color: white;text-align: center;}
        a {padding-left: 15px;}
        h4 {padding-left: 15px;}
    </style>
    <div>
     <h3><b>Un agradecimiento especial a<A HREF="https://www.instagram.com/socialoplesk/">SOCIALOPLESK🚀</A></b>  Y a sus Sponsors:<br></h3>
     
     
     <A HREF="https://www.instagram.com/itrockdigital/">IT Rock </A><br>
     <A HREF="https://www.instagram.com/powgaming.esports/">POW gaming </A><br>
     <A HREF="https://www.instagram.com/shipro.logistica/">SHIPRO </A><br>
     <A HREF="https://www.linkedin.com/in/bluechip-finances-chile-5107b81a8/">Bluechip Finances Chile </A><br>
     <h4>Ayudandonos a ser mejores y salir adelante muchas gracias por apoyar nuestro talento nacional</h4>
    </div>
</div>
    <footer >
        <p>Author: Manuel Garcia
      </footer>
</body>
</html>