body{
    height: 450px;
    background: url("media/fondo.jpg");   
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center; 
    font-family: sans-serif;
    margin: 0;
}
.header{
    display: flex;
    height: 75px;
    background-color: rgb(255, 5, 5);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 85px;
    margin-right: 10px;
}

footer {
    background-color: black;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    color: white;
    text-align: center;
  }
.imt{
    display: flex;
    margin-top: 10px;
    color:darkred;
    padding: 25px;
}
.text{
    padding-left: 15px;
}
